@import '~antd/dist/antd.css';

body {
  padding: 5rem;
  background: #F3F4F6;
  font-family: 'Inter';
  font-weight: 500;
}

.app {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 80px;
  background: white;
}

.top-row {
  margin-bottom: 30px;
}

/* Switcher */
.mode-switcher-wrapper {
  width: 245px;
  height: 40px;
  margin: 0 auto;
  padding: 1px;
  background: #F3F4F6;
  border-radius: 6px;
}

.mode-switcher {
  width: 100%;
  height: 100%;
  display: flex;
}

.mode-switcher-wrapper .mode-switcher label {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  border: 1px solid transparent !important;
  border-radius: 6px;
  background-color: transparent;
  color: #4D5562;
}

.mode-switcher-wrapper .mode-switcher label.ant-radio-button-wrapper-checked {
  border: 1px solid #E2E3E5 !important;
  background-color: white;
  box-shadow: none;
}

.mode-switcher-wrapper .mode-switcher label:hover {
  color: inherit;
}

.mode-switcher-wrapper .mode-switcher label::before {
  display: none;
}

.button-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.button-container svg {
  min-width: 20px;
  margin-right: 8px;
  stroke: #4D5562;
}

.ant-radio-button-wrapper-checked .button-container svg {
  stroke: #5D5FEF;
}

/* Calculator */
.calculator {
  width: 240px;
}

.calculator-item {
  min-height: 60px;
  margin-bottom: 12px;
  padding: 4px;
  display: grid;
  gap: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.calculator-item.shadow {
  box-shadow: 0 4px 3px #5D5FEF;
}


.calculator-result-field {
  padding: 4px 8px;
  background: #F3F4F6;
  border-radius: 6px;
  text-align: right;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #111827;
}

.calculator-item.i-4 {
  grid-template-columns: repeat(4, 1fr);
}

.calculator-item.i-3 {
  grid-template-columns: repeat(3, 1fr);  
}

.calculator-item button {
  border: none;
  box-shadow: 0 0 0 1px #E2E3E5;
  border-radius: 6px;
  font-weight: 500;
}

.calculator-item.i-4 button,
.calculator-item.i-1 button {
  height: 100%;
}

.calculator-item.i-3 button {
  height: 50px;
}

.calculator-item button:hover {
  box-shadow: 0 0 0 2px #5D5FEF;
  color: inherit;
}

.calculator-item button:focus {
  color: inherit;
}

.calculator-item button.large {
  grid-column: span 2;
}

.calculator-item button.ant-btn-primary {
  background: #5D5FEF;
}

.calculator-item button.ant-btn-primary:hover,
.calculator-item button.ant-btn-primary:focus {
  color: white;
}

/* Constructor */
.construstor {
  width: 245px;
  height: 480px;
  border: 2px dashed #C4C4C4;
  border-radius: 6px;
}

.empty-block {
  width: 100%;
  height: 100%;
  padding: 0 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-block svg {
  margin-bottom: 12px;
}

.empty-block span {
  text-align: center;
}

.empty-block .title {
  margin-bottom: 4px;
  color: #5D5FEF;
}

.empty-block .description {
  font-weight: 400;
  font-size: 12px;
  color: #6B7280;
}
